recursive-include eternabot/resources *
include eternabot/*.csv
include eternabot/*.txt
include eternabot/*.js
include eternabot/*.sh
include eternabot/straegies/normalizd/*
include eternabot/straegies/outputs/*
include eternabot/straegies/params/*
include eternabot/straegies/params_bak/*
include eternabot/straegies/*.txt
recursive-include eternabot/straegies/txt_bak/*
