recursive-include eternabot/resources *
include *.csv
include *.txt
include *.js
include *.sh
include strategies/normalized/*
include strategies/outputs/*
include strategies/params/*
include strategies/params_bak/*
include strategies/*.txt
recursive-include strategies/txt_bak/*
